/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:wght@400;700&display=swap');

/* General Styling */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f5; /* Light pastel background */
  color: #333333;
  line-height: 1.6;
}

/* Header Styling */
h1, h2, h3, h4, h5, h6 {
  color: #ff6347;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

/* Links */
a {
  color: #ff4500; /* OrangeRed */
}

a:hover {
  color: #ff6347; /* Tomato */
}

/* Code Blocks */
pre {
  background-color: #2d2d2d; /* Dark background for code blocks */
  border-left: 4px solid #32cd32; /* LimeGreen border */
  color: #ffffff; /* White text */
  padding: 15px;
  overflow-x: auto;
  font-family: 'Cascadia Code', monospace;
  font-size: 1.2em;
  border-radius: 5px;
}

/* Estilo para el modo oscuro */
pre {
  background-color: #88c0d0; /* Fondo oscuro */
  color: #d8dee9; /* Color de texto claro */
}

code {
  background-color: #ffffffff; /* Fondo oscuro */
  color: #d8dee9; /* Color de texto claro */
}

/* Estilo para los números */
.hljs-number,
.hljs-literal,
.hljs-symbol,
.hljs-bullet {
  color: #b48ead; /* Color morado claro */
}

/* Estilo para las palabras clave (keywords) */
.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #81a1c1; /* Color azul claro */
}

/* Estilo para las cadenas de texto (strings) */
.hljs-string,
.hljs-title,
.hljs-name,
.hljs-type,
.hljs-attribute,
.hljs-selector-id,
.hljs-selector-class {
  color: #a3be8c; /* Color verde claro */
}

/* Estilo para los comentarios */
.hljs-comment {
  color: #616e88; /* Color gris oscuro */
}

/* Estilo para las funciones */
.hljs-function {
  color: #88c0d0; /* Color azul celeste */
}

/* Estilo para los nombres de las funciones */
.hljs-title {
  color: #8fbcbb; /* Color verde azulado */
}

/* Estilo para operadores */
.hljs-operator {
  color: #d8dee9; /* Color blanco */
}

/* Estilo para variables */
.hljs-variable {
  color: #d08770; /* Color naranja */
}
